*{
	primary:#2a2e30;
	text:#727987;
}
.root{
	-fx-background-color: primary;
}
.appLogo{
	-fx-border-color: text;
	-fx-border-width: 0 10 0 10;
	-fx-background-color: primary;
	-fx-background-radius:0;
	-fx-border-radius:0;
}
.appLogo .label{
	-fx-text-fill:text;
	-fx-font-size: 45;
	-fx-font-family: ubuntu;
	-fx-border-color: text;
	-fx-border-width: 5 0 5 0;
}
.dark{
	-fx-background-color: primary;
	-fx-background-radius:10;
}
.dark:hover{
	/*-fx-scale-x:0.95;
	-fx-scale-y:0.95;*/
	-fx-scale-x:1.02;
	-fx-scale-y:1.02;
}
.dark:pressed{
	-fx-scale-x:0.95;
	-fx-scale-y:0.95;
}
.light{
	-fx-background-color: #e7e7e7;
}
.dropPane{
	-fx-border-color: derive(gray,5%);
	-fx-border-style: dashed;
	-fx-border-width: 3;
	-fx-border-height:5;
}
.h1{
	-fx-font-size: 30;
	-fx-text-fill:text;
}
.h2{
	-fx-font-size: 15;
	-fx-text-fill:text;
}


#scroller .scroll-bar:vertical{
	-fx-background-color: transparent;
}
#scroller .decrement-button, #scroller .increment-button{
	-fx-background-color: transparent;
	visibility: hidden;
}
#scroller .scroll-bar:vertical .track{
	-fx-background-color: transparent;
}
#scroller .scroll-bar:vertical .thumb{
	-fx-background-color: primary;
	-fx-background-radius: 10;
}
#scroller .scroll-bar .thumb:hover,
#scroller .scroll-bar .thumb:pressed{
	-fx-background-color: orange;
	-fx-background-radius: 10;
}
